body {
background-color: #000000;
color: white;

}

section {
background: rgb(145, 209, 225) ;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto {
margin-right: 5%;
}

img {
    height: 200px;    
}
