body {
background-color: #000000;
color: white;
font-family: "Anton", sans-serif;

}

.chamada {
background: rgb(145, 209, 225) ;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto {
margin-right: 5%;
}

img {
    height: 200px;    
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}